body {
    margin: 0;
    padding: 0;
    background-image: url("img/background.jpg");
    background-size: cover;
    /* background-position: center; */
}

main {
    border: 1px solid black;
    width: fit-content;
    display: block;
    margin-left: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
    justify-content: center;
}

h1 {
    font-size: calc(3.4vw + 1em);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container input {
    width: 70%;
    height: 35px;
    border-radius: 10px;
    outline: none;
    font-family: inherit;
    border: 1px solid rgba(150, 150, 150, 1);
}

.container button {
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #fff;
    font-weight: bold;
}

.container button:hover {
    color: white;
    background: blue;
}

.details {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.detail {
    display: block;
    font-size: calc(1.3vw + 8px);
    /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.69);*/
    /* background: #e6e1e0; */
    margin-right: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 250px;
    height: 200px;
    justify-content: center;
}

.detail:first-child,
.detail:nth-child(2) {
    border-right: 1px solid black;
}

.detail i {
    color: red;
    font-size: 22px;
}


/* .detail:hover {
    transform: scale(1.1);
}
*/

.detail img {
    right: 0;
}